<StackLayout class="product-item">
    <Label class="text-center" text="MARTINI" borderRadius="5" backgroundColor="#fc4664"></Label>
    <GridLayout columns="auto, *" class="product-details">
        <Image class="imagen_servicio" src="~/app/images/martini.jpg" col="0"></Image>
        <StackLayout col="1" class="description-and-button">
            <Label class="descripcion" textWrap="true" text="Sumérgete en la elegancia atemporal de este Martini, donde la sofisticación se fusiona con la frescura. Cada sorbo es una invitación a explorar un mundo de refinamiento, donde la sutileza de sus matices deleita los sentidos y despierta la pasión por lo exquisito."></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout class="btn-2" orientation="horizontal">
        <Button text="-" class="btn-2" backgroundColor="#fc4664"></Button>
        <Label class="btn-2" text="1" textAlignment="center"></Label>
        <Button text="+" class="btn-2" backgroundColor="#fc4664"></Button>
    </StackLayout>
    <Button class="btn" text="Pagar" backgroundColor="#aa46fc"></Button>
</StackLayout>

<StackLayout class="product-item">
    <Label class="text-center" text="BUCHANAN'S TWO SOULS" borderRadius="5" backgroundColor="#fc4664"></Label>
    <GridLayout columns="auto, *" class="product-details">
        <Image class="imagen_servicio" src="~/app/images/Buchanans.jpg" col="0"></Image>
        <StackLayout col="1" class="description-and-button">
            <Label class="descripcion" textWrap="true" text="¡Un buen BUCHANAN'S TWO SOULS, para que merezca el nombre de tal, no solamente debe constituir una combinación bien hecha de bebidas, sino también por su presentación, sabor y perfume, satisfacer al paladar y al espíritu para el que ha sido creado!"></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout class="btn-2" orientation="horizontal">
        <Button text="-" class="btn-2" backgroundColor="#fc4664"></Button>
        <Label class="btn-2" text="1" textAlignment="center"></Label>
        <Button text="+" class="btn-2" backgroundColor="#fc4664"></Button>
    </StackLayout>
    <Button class="btn" text="Pagar" backgroundColor="#aa46fc"></Button>
</StackLayout>

<StackLayout class="product-item">
    <Label class="text-center" text="VINO JP CHENET MERLOT" borderRadius="5" backgroundColor="#fc4664"></Label>
    <GridLayout columns="auto, *" class="product-details">
        <Image class="imagen_servicio" src="~/app/images/vinojpchenetmerlot.jpg" col="0"></Image>
        <StackLayout col="1" class="description-and-button">
            <Label class="descripcion" textWrap="true" text="¡Un buen VINO JP CHENET MERLOT, para que merezca el nombre de tal, no solamente debe constituir una combinación bien hecha de bebidas, sino también por su presentación, sabor y perfume, satisfacer al paladar y al espíritu para el que ha sido creado!"></Label>
        </StackLayout>
    </GridLayout>
    
    <Button class="btn" text="Pagar" backgroundColor="#aa46fc"></Button>
</StackLayout> 


<StackLayout class="product-item">
    <Label class="text-center" text="MARTINI" borderRadius="5" backgroundColor="#fc4664"></Label>
    <GridLayout columns="auto, *" class="product-details">
        <Image class="imagen_servicio" src="~/app/images/martini.jpg" col="0"></Image>
        <StackLayout col="1" class="description-and-button">
            <Label class="descripcion" textWrap="true" text="Sumérgete en la elegancia atemporal de este Martini, donde la sofisticación se fusiona con la frescura. Cada sorbo es una invitación a explorar un mundo de refinamiento, donde la sutileza de sus matices deleita los sentidos y despierta la pasión por lo exquisito."></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout class="btn-2" orientation="horizontal">
        <Button text="-" class="btn-2" backgroundColor="#fc4664"></Button>
        <Label class="btn-2" text="1" textAlignment="center"></Label>
        <Button text="+" class="btn-2" backgroundColor="#fc4664"></Button>
    </StackLayout>
    <Button class="btn" text="Pagar" backgroundColor="#aa46fc"></Button>
</StackLayout>




<ScrollView orientation="vertical">
    <StackLayout>
        <StackLayout class="product-item">
            <Label class="text-center" text="COCTEL DEL DIA" borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/coctel.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="Descubre el equilibrio perfecto entre sabores y aromas en este coctel meticulosamente preparado. Una experiencia que deleitará tanto tu paladar como tu alma, invitándote a un viaje sensorial inolvidable."></Label>
                </StackLayout>
            </GridLayout>
            <FlexboxLayout flexWrap="wrap" justifyContent="center" class="p-15" >
                <Button text="-" class="btn-2" backgroundColor="#fc4664"></Button>
                <Label class="btn-2" text="1" textAlignment="center"></Label>
                <Button text="+" class="btn-2" backgroundColor="#fc4664"></Button>
            </FlexboxLayout>
            <Button class="btn" text="Pagar" backgroundColor="#aa46fc"></Button>    
        </StackLayout>

        
        
        
    </StackLayout>
</ScrollView>