<ActionBar>
    <Label text="¡Menú!"></Label>
    <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" />
</ActionBar>

<ScrollView orientation="vertical">
    <StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Ron Viejo de Caldas Tradicional Litro." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/Ron-viejo-litro.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>


        <StackLayout class="product-item">
            <Label class="text-center" text="Ron Viejo de Caldas León Dormido 21 Años." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/RonCaldasLeon.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Ron Medellín Maestro Gabo." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/Ron-Maestro-Gabo.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="La Hechicera." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/Ron-La-Hechicera-1.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Ron Medellín Añejo 3 Años." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/Ron-Medellin-3-anos.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Havana Club 30 Aniversario." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/HavanaClub.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Aguardiente Antioqueño Garrafa." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AguardienteGarrafa.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Aguardiente Antioqueño Sin Azúcar Garrafa." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AguardienteSinAzucarGarrafa.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Aguardiente Antioqueño Litro." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AguardienteLitro.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Aguardiente Antioqueño Sin Azúcar Litro." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AguardienteSinAzucarLitro.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Aguardiente Júbilo Super Premiun Amarillo." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AguardienteJubiloAmarillo.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Aguardiente Júbilo Super Premiun Azul." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AguardienteJubiloAzul.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Aguardiente Júbilo Super Premiun Rojo." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AguardienteJubiloRojo.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Cognac Rémy Martin XO." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/CognacRemyMartin.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Tequila 1800 Añejo Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/Tequila1800AñejoBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Tequila 1800 Reposado Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/Tequila1800ReposadoBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Tequila José Cuervo Especial Reposado Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/TequilaJoseCuervoEspecial.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Vino Espumoso JP Chenet lee Blanco Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/VinoEspumosoJpChenetLeeBLanco.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Vino Espumoso JP Chenet lee Rosé." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/VinoEspumosoJpChenetLeeRose.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Vino Espumoso Lambrusco Rosado Reggiano Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/VinoEspumosoLambruscoRosadoReggiano.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Vino Espumoso Lambrusco Tinto Reggiano Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/VinoEspumosoLambruscoTintoReggiano.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Vino Tinto Gato Negro 9 Vidas Cabernet Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/VinoTintoGatoNegro9VidasCabernet.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Vino Tinto Las Moras Cabernet Suavignon Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/VinoTintoLasMorasCarbenetSuavignon.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Jagermeister Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/JagermeisterBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Absolut Vodka Blue Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/AbsolutVodkaBlueBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Jameson Triple Triple." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyJamesonTripleTriple.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Wild Turkey Rare Breed." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyWildTurkeyRareBreed.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Buchanan's 18 Años Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyBuchanans18AñosBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Baek Daniels American Single Malt." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyJaekDanielsAmericanSingleMalt.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Macallan Colour Collection 12." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyMacallanColourCollection12.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Botella Old Parr 12 Años." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyBotellaOldParr12Años.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Buchanan's Master Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyBuchanansMasterBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Buchanan's Deluxe Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyBuchanansDeluxeBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Buchanan's Red Seal Botella." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyBuchanansRedSealBotella.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Buchanan's Two Souls." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyBuchanansTwoSouls.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>

        <StackLayout class="product-item">
            <Label class="text-center" text="Whisky Chivas Royal Salute." borderRadius="5" backgroundColor="#fc4664"></Label>
            <GridLayout columns="auto, *" class="product-details">
                <Image class="imagen_servicio" src="~/app/images/WhiskyChivasRoyalSalute.jpg" col="0"></Image>
                <StackLayout col="1" class="description-and-button">
                    <Label class="descripcion" textWrap="true" text="..."></Label>
                </StackLayout>
            </GridLayout>    
        </StackLayout>


        
        
        
    </StackLayout>
</ScrollView>