<ActionBar>
    <Label text="Tienda Virtual"></Label>
    <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" />
</ActionBar>


<StackLayout>
    
    <FlexboxLayout flexWrap="wrap" justifyContent="center" class="p-15" >
        
        <Label flexWrapBefore="true" class=" text-center" text="S: High" borderRadius="5" backgroundColor="#F93822"
            color="white"></Label>
        <Label class="" text="T: Feature" borderRadius="5" backgroundColor="green" color="white"></Label>
        <Label class="" text="3 - In Progress" borderRadius="5" backgroundColor="#A6BBC8"></Label>
        
    </FlexboxLayout>
</StackLayout>